.slider_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    padding: 10px 5px;
    min-height: 150px;
}

.slider_logo {
    width: 45px;
    height: 45px;
}

.slider_logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 100%;
    padding: 30px;
}

.slider_header {
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}

.slider_description {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0 5px;
}